.appContainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.appContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.8);
}

.appInner {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 700px;

  padding: 2rem;
  border-radius: 12px;
  background: white;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.errorBox {
  border: 2px solid #ec4899;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #fff0f6;
}
